.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 15px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.domainCard {
    width: 24% !important;
    margin: 6px !important;
    color: #222 !important;
    border: 3px solid #00C853;
}

.domainCard h4 {
    font-size: 1.1em !important;
}

.fof {

    margin: 1em;
    overflow: auto;
}

.fofTable {
    min-width: 700px;
}

h1 a {
    color: #FFFFFF !important;
}


@media only screen and (max-device-width: 667px) {
    .domainCard {
        width: 80vw !important;
        margin: 2px !important;
        border: 2px solid #00C853;
    }
}