
#statsSummary tr {
    height: 90px !important;
}

.tableRowHeader {
    font-size: 1rem !important;
    width: 10%;
}

i {
    vertical-align: middle;
}

.iconText {
    font-size: 0.9rem;
    vertical-align: middle;
}

.admitsCard {
    margin: auto;
    height: 280px;
}

.admitsPieGraph {
    margin: auto;
    height: 200px;
}

.facilityProfileCard {
    max-width: 375px;
    background: none !important;
    box-shadow: none !important;
}

h5 {
    font-size: 1.4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: #003087;
    text-transform: uppercase;
    margin: auto;
}

#monthText {
    font-size: 1.2rem;
    color: #03B5E2;
}

h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.0075em;
    color: #003087;
    text-transform: none;
    margin: auto;
    padding-top: 20px;
}

#facilityNameText {
    font-size: 1rem;
    color: #365CA0;
}

/* Facility Styles */
.facilityComponent[rel="acadiamontana"] {
    --fPrimary1: #092F87;
    --fPrimary2: #222222;
    --fSecondary1: #436CA9;
    --fSecondary2: #9AB6D3;
    --fAccent: #EE7600;
}

.facilityComponent[rel="acadianatreatmentcenter"] {
    --fPrimary1: #0A5587;
    --fPrimary2: #F6B332;
    --fSecondary1: #1675A9;
    --fSecondary2: #B8D9EC;
    --fAccent: #41464D;
}

.facilityComponent[rel="acadiavermilion"] {
    --fPrimary1: #A41E34;
    --fPrimary2: #231F20;
    --fSecondary1: #ECEEEF;
    --fAccent: #FDC741;
}

.facilityComponent[rel="azureacres"] {
    --fPrimary1: #419639;
    --fPrimary2: #5a666c;
    --fSecondary1: #5a666c;
    --fSecondary2: #0E165E;
    --fAccent: #B3C381;
}

.facilityComponent[rel="baysidemarin"] {
    --fPrimary1: #A2282E;
    --fPrimary2: #69435A;
    --fSecondary1: #092F57;
    --fSecondary2: #3A5979;
    --fAccent: #7998AC;
}

.facilityComponent[rel="belmontbehavioral"] {
    --fPrimary1: #003E70;
    --fPrimary2: #E31D1A;
    --fSecondary1: #00A1E1;
    --fSecondary2: #A9DEEE;
    --fAccent: #948378;
}

.facilityComponent[rel="blueridgemountainrecovery"] {
    --fPrimary1: #03347E;
    --fPrimary2: #343434;
    --fSecondary1: #858591;
    --fSecondary2: #343434;
    --fAccent: #005DAC;
}

.facilityComponent[rel="bowlinggreenbrandywine"] {
    --fPrimary1: #0D5E1E;
    --fPrimary2: #54844F;
    --fSecondary1: #4D738A;
    --fSecondary2: #233746;
    --fAccent: #A3D65C;
}

.facilityComponent[rel="burkwoodtreatmentcenter"] {
    --fPrimary1: #166936;
    --fPrimary2: #6E5100;
    --fSecondary1: #E25829;
    --fSecondary2: #5C4520;
    --fAccent: #C34527;
}

.facilityComponent[rel="camprecovery"] {
    --fPrimary1: #006851;
    --fPrimary2: #CBE0D9;
    --fSecondary1: #ABC6CA;
    --fSecondary2: #739AA0;
    --fAccent: #F6B332;
}

.facilityComponent[rel="carolinaeatingdisorders"] {
    --fPrimary1: #FC9F4C;
    --fPrimary2: #B9B199;
    --fSecondary1: #37728D;
    --fSecondary2: #65615D;
    --fAccent: #97995C;
}

.facilityComponent[rel="cascadebh"] {
    --fPrimary1: #69813A;
    --fPrimary2: #3C441C;
    --fSecondary1: #FFB126;
    --fSecondary2: #234C5A;
    --fAccent: #73233C;
}

.facilityComponent[rel="cedarcresthospital"] {
    --fPrimary1: #05a2af;
    --fPrimary2: #0E2240;
    --fSecondary1: #C3955B;
    --fSecondary2: #7E6656;
    --fAccent: #822F32;
}

.facilityComponent[rel="centerforhopeofthesierras"] {
    --fPrimary1: #003764;
    --fPrimary2: #1B5630;
    --fSecondary1: #444A54;
    --fAccent: #FDD834;
}

.facilityComponent[rel="conwaybh"] {
    --fPrimary1: #627B96;
    --fPrimary2: #9E542A;
    --fSecondary1: #9E542A;
    --fSecondary2: #C6D7D7;
    --fAccent: #42787C;
}

.facilityComponent[rel="coveforgebehavioralhealth"] {
    --fPrimary1: #40773D;
    --fPrimary2: #9BB48D;
    --fSecondary1: #4D374D;
    --fAccent: #AE8E3F;
}

.facilityComponent[rel="coveprep"] {
    --fPrimary1: #711B45;
    --fPrimary2: #231F20;
    --fSecondary1: #65646A;
    --fSecondary2: #CDC5A5;
    --fAccent: #F19F53;
}

.facilityComponent[rel="covingtonbh"] {
    --fPrimary1: #564F22;
    --fPrimary2: #A2A466;
    --fSecondary1: #DCE6C8;
    --fSecondary2: #848647;
    --fAccent: #85A3AD;
}

.facilityComponent[rel="crestwynbh"] {
    --fPrimary1: #5E7775;
    --fPrimary2: #638B18;
    --fSecondary1: #4D4F43;
    --fSecondary2: #82A246;
    --fAccent: #FFC558;
}

.facilityComponent[rel="crosscreekhospital"] {
    --fPrimary1: #335F83;
    --fPrimary2: #748693;
    --fSecondary1: #0ABA97;
    --fSecondary2: #7B9BC0;
    --fAccent: #A93338;
}

.facilityComponent[rel="dbinstitute"] {
    --fPrimary1: #444971;
    --fPrimary2: #6786B8;
    --fSecondary1: #717BA1;
    --fSecondary2: #151B4E;
    --fAccent: #901235;
}

.facilityComponent[rel="deltamedcenter"] {
    --fPrimary1: #655579;
    --fPrimary2: #943235;
    --fSecondary1: #99999B;
    --fSecondary2: #D19115;
    --fAccent: #FFA700;
}

.facilityComponent[rel="deserthills-nm"] {
    --fPrimary1: #133595;
    --fPrimary2: #88AD92;
    --fSecondary1: #00A19C;
    --fSecondary2: #00837D;
    --fAccent: #E1854E;
}

.facilityComponent[rel="duffysrehab"] {
    --fPrimary1: #AD172B;
    --fPrimary2: #363A35;
    --fSecondary1: #A3BAC5;
    --fSecondary2: #77974C;
    --fAccent: #C28B34;
}

.facilityComponent[rel="erlangerbh"] {
    --fPrimary1: #092F87;
    --fPrimary2: #CF9F51;
    --fSecondary1: #E5C8A2;
    --fSecondary2: #BDBBBB;
    --fAccent: #3A599F;
}

.facilityComponent[rel="galaxrecovery"] {
    --fPrimary1: #5F4D63;
    --fPrimary2: #D89D5D;
    --fSecondary1: #C8893C;
    --fSecondary2: #56565A;
    --fAccent: #7D7EAB;
}

.facilityComponent[rel="greenleafhospital"] {
    --fPrimary1: #00AD68;
    --fPrimary2: #2E2925;
    --fSecondary1: #70D549;
    --fSecondary2: #008997;
    --fAccent: #65D1ED;
}

.facilityComponent[rel="harboroaks"] {
    --fPrimary1: #3B5165;
    --fPrimary2: #0099A8;
    --fSecondary1: #FCDD00;
    --fSecondary2: #014A87;
    --fAccent: #40D5AF;
}

.facilityComponent[rel="harmonyhc"] {
    --fPrimary1: #244289;
    --fPrimary2: #91A0C4;
    --fSecondary1: #2C9A40;
    --fSecondary2: #80BD01;
    --fAccent: #E31D1A;
}

.facilityComponent[rel="haverhillpavilion"] {
    --fPrimary1: #4D738A;
    --fPrimary2: #B98B1A;
    --fSecondary1: #233746;
    --fSecondary2: #92B7BC;
    --fAccent: #93B59D;
}

.facilityComponent[rel="highlandridgehospital"] {
    --fPrimary1: #8A4B51;
    --fPrimary2: #5E4272;
    --fSecondary1: #F19F53;
    --fSecondary2: #F9CB89;
    --fAccent: #E25829;
}

.facilityComponent[rel="huntingtoncreekrecovery"] {
    --fPrimary1: #455370;
    --fPrimary2: #EA4E3C;
    --fSecondary1: #6292BA;
    --fSecondary2: #BECED6;
    --fAccent: #FABF3A;
}

.facilityComponent[rel="keystonetreatment"] {
    --fPrimary1: #8A1E04;
    --fPrimary2: #42393D;
    --fSecondary1: #411E1E;
    --fSecondary2: #D9D1C3;
    --fAccent: #234C5A;
}

.facilityComponent[rel="lakelandbehavioralhealth"] {
    --fPrimary1: #216093;
    --fPrimary2: #6BC048;
    --fSecondary1: #567E95;
    --fSecondary2: #D9E0E2;
    --fAccent: #0099A8;
}

.facilityComponent[rel="lakeviewbehavioralhealth"] {
    --fPrimary1: #336E9F;
    --fPrimary2: #002857;
    --fSecondary1: #278DC1;
    --fSecondary2: #d4e8f3;
    --fAccent: #ee7600;
}

.facilityComponent[rel="life-healing"] {
    --fPrimary1: #89431E;
    --fPrimary2: #8C9584;
    --fSecondary1: #383c49;
    --fSecondary2: #D2CAA8;
    --fAccent: #3A8898;
}

.facilityComponent[rel="longleafhospital"] {
    --fPrimary1: #166936;
    --fPrimary2: #0E5C67;
    --fSecondary1: #5E3226;
    --fSecondary2: #85B099;
    --fAccent: #E25829;
}

.facilityComponent[rel="mccallumplace"] {
    --fPrimary1: #A93338;
    --fPrimary2: #F78C26;
    --fSecondary1: #A49C94;
    --fSecondary2: #BA5C60;
    --fAccent: #62CCCA;
}

.facilityComponent[rel="meadowwoodhospital"] {
    --fPrimary1: #01548B;
    --fPrimary2: #AB9F88;
    --fSecondary1: #A48650;
    --fSecondary2: #E7AC55;
    --fAccent: #9F162E;
}

.facilityComponent[rel="millcreekbehavioralhealth"] {
    --fPrimary1: #235996;
    --fPrimary2: #2A3C73;
    --fSecondary1: #495156;
    --fSecondary2: #6786B8;
    --fAccent: #CA602B;
}

.facilityComponent[rel="millcreekofmagee"] {
    --fPrimary1: #092F87;
    --fPrimary2: #6A6057;
    --fSecondary1: #3A599F;
    --fSecondary2: #B8B7DD;
    --fAccent: #87319A;
}

.facilityComponent[rel="millcreekofpontotoc"] {
    --fPrimary1: #32657E;
    --fPrimary2: #A2A466;
    --fSecondary1: #093E52;
    --fSecondary2: #D6E0E5;
    --fAccent: #78853A;
}

.facilityComponent[rel="mirrorlakerecovery"] {
    --fPrimary1: #093c71;
    --fPrimary2: #3ac1e1;
    --fSecondary1: #AA9B83;
    --fSecondary2: #6eb5b1;
    --fAccent: #0e837d;
}

.facilityComponent[rel="montecatinieatingdisorder"] {
    --fPrimary1: #00ADC8;
    --fPrimary2: #76BF4E;
    --fSecondary1: #DBD1C5;
    --fSecondary2: #94D7EA;
    --fAccent: #FFC52C;
}

.facilityComponent[rel="mountcarmelbehavioralhealth"] {
    --fPrimary1: #8B1B3F;
    --fPrimary2: #2E2925;
    --fSecondary1: #716258;
    --fSecondary2: #EEEEEE;
    --fAccent: #41797B;
}

.facilityComponent[rel="mtregis"] {
    --fPrimary1: #194E91;
    --fPrimary2: #F6B220;
    --fSecondary1: #16284C;
    --fSecondary2: #3B7CCA;
    --fAccent: #D5441C;
}

.facilityComponent[rel="northtampabehavioralhealth"] {
    --fPrimary1: #0083C2;
    --fPrimary2: #3AC1E1;
    --fSecondary1: #FFB339;
    --fSecondary2: #B6DDE3;
    --fAccent: #E16A2C;
}

.facilityComponent[rel="obhhospital"] {
    --fPrimary1: #4A858F;
    --fPrimary2: #234C5A;
    --fSecondary1: #C5BE9D;
    --fSecondary2: #7BA7AE;
    --fAccent: #A3402A;
}

.facilityComponent[rel="ohiohospitalforpsychiatry"] {
    --fPrimary1: #3F8995;
    --fPrimary2: #5E9553;
    --fSecondary1: #61A3B8;
    --fSecondary2: #F9E5B4;
    --fAccent: #4E5194;
}

.facilityComponent[rel="optionsbehavioralhealthsystem"] {
    --fPrimary1: #004A98;
    --fPrimary2: #0094CA;
    --fSecondary1: #DCD8D6;
    --fSecondary2: #C5DEEF;
    --fAccent: #FD7F3E;
}

.facilityComponent[rel="pacificgrovehospital"] {
    --fPrimary1: #00609C;
    --fPrimary2: #44C8E8;
    --fSecondary1: #318DDE;
    --fSecondary2: #CCDFEB;
    --fAccent: #76BD1D;
}

.facilityComponent[rel="parkroyalhospital"] {
    --fPrimary1: #16216A;
    --fPrimary2: #42A7C6;
    --fSecondary1: #5A718A;
    --fSecondary2: #63CABA;
    --fAccent: #FB7038;
}

.facilityComponent[rel="pineyridge.net"] {
    --fPrimary1: #41797B;
    --fPrimary2: #49A584;
    --fSecondary1: #DBC554;
    --fSecondary2: #A4D2C1;
    --fAccent: #CE3061;
}

.facilityComponent[rel="poconomountainrecoverycenter"] {
    --fPrimary1: #00827E;
    --fPrimary2: #16284C;
    --fSecondary1: #FABF3A;
    --fSecondary2: #9ADADA;
    --fAccent: #EA4E3C;
}

.facilityComponent[rel="reboundbehavioralhealth"] {
    --fPrimary1: #4D6182;
    --fPrimary2: #7AA6BC;
    --fSecondary1: #A4A3C2;
    --fSecondary2: #D6DDBD;
    --fAccent: #E28330;
}

.facilityComponent[rel="redriverhospital"] {
    --fPrimary1: #AC2B28;
    --fPrimary2: #244289;
    --fSecondary1: #802428;
    --fSecondary2: #D8EAF5;
    --fAccent: #3C98CC;
}

.facilityComponent[rel="resolutetreatmentcenter"] {
    --fPrimary1: #004A87;
    --fPrimary2: #4886A1;
    --fSecondary1: #926927;
    --fSecondary2: #6D9EB4;
    --fAccent: #A93338;
}

.facilityComponent[rel="resourcetreatmentcenter"] {
    --fPrimary1: #004A87;
    --fPrimary2: #4886A1;
    --fSecondary1: #926927;
    --fSecondary2: #6D9EB4;
    --fAccent: #A93338;
}

.facilityComponent[rel="riovistabh"] {
    --fPrimary1: #00609C;
    --fPrimary2: #006680;
    --fSecondary1: #0B2A4A;
    --fSecondary2: #99B8BD;
    --fAccent: #FD6019;
}

.facilityComponent[rel="riverplacebh"] {
    --fPrimary1: #004A87;
    --fPrimary2: #F4A71A;
    --fSecondary1: #EC6851;
    --fSecondary2: #32B1CA;
    --fAccent: #0098CF;
}

.facilityComponent[rel="riverviewbehavioralhealth"] {
    --fPrimary1: #244289;
    --fPrimary2: #3C98CC;
    --fSecondary1: #455370;
    --fSecondary2: #C4E0F0;
    --fAccent: #DB8721;
}

.facilityComponent[rel="riverwoodsbehavioral"] {
    --fPrimary1: #004A87;
    --fPrimary2: #007565;
    --fSecondary1: #FF7E40;
    --fSecondary2: #99C8C1;
    --fAccent: #FFA300;
}

.facilityComponent[rel="rollinghillshospital"] {
    --fPrimary1: #5A839C;
    --fPrimary2: #3B5B59;
    --fSecondary1: #6C9896;
    --fSecondary2: #ACC1CD;
    --fAccent: #DBAB34;
}

.facilityComponent[rel="roserehab"] {
    --fPrimary1: #E56284;
    --fPrimary2: #65646A;
    --fSecondary1: #007580;
    --fSecondary2: #ee9bac;
    --fAccent: #55B7B3;
}

.facilityComponent[rel="sanjosebh"] {
    --fPrimary1: #278DC1;
    --fPrimary2: #31516A;
    --fSecondary1: #5A7E96;
    --fSecondary2: #9FDBEC;
    --fAccent: #E25829;
}

.facilityComponent[rel="sanjuancapestrano"] {
    --fPrimary1: #036B5A;
    --fPrimary2: #074F51;
    --fSecondary1: #C46D14;
    --fSecondary2: #6ACDB1;
    --fAccent: #F6A704;
}

.facilityComponent[rel="serenityknolls"] {
    --fPrimary1: #639479;
    --fPrimary2: #88BB84;
    --fSecondary1: #E25829;
    --fSecondary2: #A1D782;
    --fAccent: #C43A31;
}

.facilityComponent[rel="sevenhillsbi"] {
    --fPrimary1: #169BBF;
    --fPrimary2: #3A4E7D;
    --fSecondary1: #196E91;
    --fSecondary2: #EDE2CE;
    --fAccent: #F6B220;
}

.facilityComponent[rel="shakerclinic"] {
    --fPrimary1: #3A97B5;
    --fPrimary2: #6CA437;
    --fSecondary1: #194E91;
    --fSecondary2: #85C53E;
    --fAccent: #A3D65C;
}

.facilityComponent[rel="sierratucson"] {
    --fPrimary1: #955F27;
    --fPrimary2: #61504D;
    --fSecondary1: #B57813;
    --fSecondary2: #E3D0A5;
    --fAccent: #D59000;
}

.facilityComponent[rel="soberlanding"] {
    --fPrimary1: #233A77;
    --fPrimary2: #A39261;
    --fSecondary1: #88704C;
    --fSecondary2: #DCD6C9;
    --fAccent: #33A1AB;
}

.facilityComponent[rel="soberliving"] {
    --fPrimary1: #5EC5E9;
    --fPrimary2: #1B5A7D;
    --fSecondary1: #5C99B0;
    --fSecondary2: #32ADBB;
    --fAccent: #F78C26;
}

.facilityComponent[rel="sonorabehavioral"] {
    --fPrimary1: #76381A;
    --fPrimary2: #BA7230;
    --fSecondary1: #002F55;
    --fSecondary2: #E8DBC2;
    --fAccent: #0099A9;
}

.facilityComponent[rel="southcoastbehavioral"] {
    --fPrimary1: #007F6F;
    --fPrimary2: #53585A;
    --fSecondary1: #B5BE00;
    --fSecondary2: #00B3E3;
    --fAccent: #E21683;
}

.facilityComponent[rel="southstonebhc"] {
    --fPrimary1: #16216A;
    --fPrimary2: #0096A9;
    --fSecondary1: #A72134;
    --fSecondary2: #737AA6;
    --fAccent: #F5C300;
}

.facilityComponent[rel="southwoodhospital"] {
    --fPrimary1: #0098CF;
    --fPrimary2: #FF9E19;
    --fSecondary1: #FDCF83;
    --fSecondary2: #B8D9EC;
    --fAccent: #0074C8;
}

.facilityComponent[rel="starliterecovery"] {
    --fPrimary1: #0066A1;
    --fPrimary2: #FF7E30;
    --fSecondary1: #C55425;
    --fSecondary2: #5EC5E9;
    --fAccent: #FFBF3D;
}

.facilityComponent[rel="stonecrestcenter"] {
    --fPrimary1: #136F42;
    --fPrimary2: #B3A87C;
    --fSecondary1: #3C4542;
    --fSecondary2: #428C68;
    --fAccent: #DC5F13;
}

.facilityComponent[rel="structurehouse"] {
    --fPrimary1: #ACD560;
    --fPrimary2: #002059;
    --fSecondary1: #604F4F;
    --fSecondary2: #B8DBD3;
    --fAccent: #64BBB1;
}

.facilityComponent[rel="sunriserecoveryranch"] {
    --fPrimary1: #F78C26;
    --fPrimary2: #3C4542;
    --fSecondary1: #13426B;
    --fSecondary2: #F9A351;
    --fAccent: #6EB2C8;
}

.facilityComponent[rel="suwscarolinas"] {
    --fPrimary1: #1A355E;
    --fPrimary2: #739082;
    --fSecondary1: #848647;
    --fSecondary2: #BECDC6;
    --fAccent: #BD6122;
}

.facilityComponent[rel="tenlakescenter"] {
    --fPrimary1: #1946BA;
    --fPrimary2: #0A1971;
    --fSecondary1: #1F9BDE;
    --fSecondary2: #ADD5F0;
    --fAccent: #E16A2C;
}

.facilityComponent[rel="themanorclinic"] {
    --fPrimary1: #006C9F;
    --fPrimary2: #5C5D5F;
    --fSecondary1: #00598D;
    --fSecondary2: #E8EFF2;
    --fAccent: #CC6C00;
}

.facilityComponent[rel="therefuge-ahealingplace"] {
    --fPrimary1: #C4502F;
    --fPrimary2: #105677;
    --fSecondary1: #0A2A3B;
    --fSecondary2: #D9D1C3;
    --fAccent: #F16852;
}

.facilityComponent[rel="timberlineknolls"] {
    --fPrimary1: #5B7C42;
    --fPrimary2: #5E5D5F;
    --fSecondary1: #3D5C29;
    --fSecondary2: #C2CB7E;
    --fAccent: #A9AE00;
}

.facilityComponent[rel="trustpointhospital"] {
    --fPrimary1: #216093;
    --fPrimary2: #4C4C4C;
    --fSecondary1: #0A3061;
    --fSecondary2: #F2F2F2;
    --fAccent: #5AB3E8;
}

.facilityComponent[rel="twelveoaksrecovery"] {
    --fPrimary1: #0A548B;
    --fPrimary2: #00ACC8;
    --fSecondary1: #86776F;
    --fSecondary2: #E7D5B9;
    --fAccent: #FF9E19;
}

.facilityComponent[rel="valleybehavioral"] {
    --fPrimary1: #1B5630;
    --fPrimary2: #80382B;
    --fSecondary1: #53302B;
    --fSecondary2: #D0D9D6;
    --fAccent: #F3BD46;
}

.facilityComponent[rel="vantagepointnwa"] {
    --fPrimary1: #006AA6;
    --fPrimary2: #38B5E6;
    --fSecondary1: #003764;
    --fSecondary2: #DDE4ED;
    --fAccent: #EE7421;
}

.facilityComponent[rel="villagebh"] {
    --fPrimary1: #0066A1;
    --fPrimary2: #231F20;
    --fSecondary1: #163E34;
    --fSecondary2: #EAE5CE;
    --fAccent: #D85E00;
}

.facilityComponent[rel="wellnessresourcecenter"] {
    --fPrimary1: #82CFCA;
    --fPrimary2: #FDA487;
    --fSecondary1: #0099A8;
    --fSecondary2: #DDE3E1;
    --fAccent: #1A355E;
}

.facilityComponent[rel="wellplace"] {
    --fPrimary1: #092c74;
    --fPrimary2: #b1c8ea;
    --fSecondary1: #211651;
    --fSecondary2: #ebe8db;
    --fAccent: #fd7e2d;
}

.facilityComponent[rel="whitedeerrun"] {
    --fPrimary1: #1E5C37;
    --fPrimary2: #7A916E;
    --fSecondary1: #3C556E;
    --fSecondary2: #E3EBD6;
    --fAccent: #E1AE54;
}

.facilityComponent[rel="wilmingtontreatment"] {
    --fPrimary1: #216093;
    --fPrimary2: #9C8065;
    --fSecondary1: #13426B;
    --fSecondary2: #9BB8D3;
    --fAccent: #802629;
}

.facilityComponent[rel="youthcare"] {
    --fPrimary1: #004A87;
    --fPrimary2: #8A7A25;
    --fSecondary1: #006093;
    --fSecondary2: #DBD6C1;
    --fAccent: #62A70F;
}

/* Wildcard CTCs */
.facilityComponent[rel*="ctc"] {
    --fPrimary1: #244289;
    --fPrimary2: #436ca9;
    --fSecondary1: #84256c;
    --fSecondary2: #363a35;
    --fAccent: #00aebc;
}

.facilityComponent .facilityCardHeader {
    background: var(--fPrimary1) !important;
}

.facilityComponent h3 {
    color: var(--fPrimary2) !important;
}

.facilityComponent h5 {
    color: var(--fPrimary2) !important;
}

.facilityComponent h6 {
    color: var(--fPrimary2) !important;
}

.facilityComponent #monthText {
    color: var(--fPrimary1) !important;
}

.facilityComponent #facilityNameText {
    color: var(--fPrimary1) !important;
}

/* Export Accent color for use in react components */
@value fAccent: var(--fAccent);

#admitsGoalTitle {
    color: var(--fPrimary2) !important;
}

.nivoCard [class^="CardBody"] {
    padding: unset !important;
}

.iconText {
    display: inline-block;
}

/* Styles applied for PDF printing */
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        padding-left: 0px !important;
        text-align: center !important;
    }

    .hidePrint {
        display: none !important;
    }

    .facilityPrint {

    }

    [class^="Card"] {
        display: block !important;
        width: auto !important;
        margin: auto !important;
        border: none !important;
        box-shadow: none !important;
        /*max-height: 600px;*/
    }

    [class^="CardHeader"] {
        width: 100% !important;
        display: block !important;
    }

    #statsSummary {
        margin-top: 40px !important;
    }

    #statsSummary [class^="CardBody"] {
        display: inline-flex !important;
    }

    .facilityPieRow {
        margin-left: -40px !important;
        display: inline-flex !important;
    }

    .nivoCard {
        display: inline-block !important;
        width: 26% !important;
        padding: 4px !important;
        box-shadow: none !important;
        background: none !important;
        margin: unset !important;
        text-align: center !important;
    }

    .nivoCard [class^="CardHeader"] {
        width: 90% !important;
        left: 40px;
    }

    .nivoGraph {
        height: 365px !important;
    }

    .facilityBarChart {
        /*width: 65% !important;*/
        box-shadow: none !important;
        border: none !important;
        background: none !important;
        margin-top: 40px !important;
    }

    .facilityBarChart [class^="CardBody"] {
        padding: 10px 0 !important;
        margin: 30px 0 !important;
        page-break-after: always;
    }

    .chartjs-render-monitor {
        height: unset !important;
        width: 1080px !important;
        display: block;
        margin: auto;
    }

    .historySwitch {
        display: none;
    }

    #facilityLogo {
        max-height: 280px;
    }

    .iconText {
        font-size: 0.8125rem;
        display: block;
    }

    /* Fix for comments label getting cutoff */
    [class^="MuiFormControl"] {
        overflow-x: unset !important;
    }

}