/* Material Design theme */
@import "assets/css/material-dashboard.css";

.dash {
    padding-left: 180px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* React CLI Boiler Plate */
.App {
    text-align: center;
    height: fit-content;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 120px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* My styles added to supplement bootstrap/boilerplate */
.filterComponent {
    display: inline-flex;
    padding-left: 5px;
    top: 5px;
}

.autoComplete-container {
    display: inline-flex;
    width: 60%;
    padding: 5px 10px;
}

.autoComplete-paper {
    position: fixed;
    z-index: 100;
    margin-top: 50px;
}

.autoComplete-chip {
    margin: 2px 4px;
}

.autoComplete-inputRoot {
    padding-top: 10px;
}

.card {
    max-width: 90%;
    display: inline-flex;
    padding: 8px;
    /*maxWidth: "90%", display: "inline-block", padding: "8px"*/
}

.cardTitleWhite {
    color: #FFFFFF;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}

.cardTable {
    overflow-x: auto;
}

.datePicker {
    display: inline-flex;
}

.datePicker-textField {
    margin-left: 8px !important;
    margin-right: 8px !important;
    width: 150px;
}

.expansionPanel {
    width: 90%;
    margin: auto;
}

.exportComponent {
    display: block;
}

.nivoCard {
    width: 95%;
    margin: 0 6px;
}

.nivoCardTitle {
    color: #FFFFFF;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}

.nivoGraph {
    height: 400px;
    min-height: 200px;
    width: 100%;
}

.sidebarComponent {
    color: #fafafa;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background: #222;
    padding: 10px;
    width: 180px;
    height: 100%;
}

.sidebarComponent a {
    text-decoration: none !important;
}

.sidebarComponent li {
    padding: 5px;
    text-decoration: none;
    color: #fafafa;
}

.sidebarComponent li:hover {
    background-color: #00bcd4;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    /*width: 90%;*/
    border-radius: 3px;
    left: 5%;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .5s;
}

.sidebarComponent li::selection {
    background-color: #00bcd4;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    width: 90%;
    border-radius: 3px;
    left: 5%;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .5s;
}

.parentSideNav {
    cursor: pointer;
    position: absolute;
}

.sidebarSubNav {
    list-style-type: none;
    color: #fff;
}

.sidebarBottom {
    bottom: 5%;
    position: absolute;
    width: 90%;
}

/* Remove X and Arrows from Datepicker */

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.searchPreview {
    z-index: 1000;
    list-style-type: none;
    background-color: #00bcd4;
    color: #fff;
    border-radius: 8px;
    position: absolute;
    padding: 5px 12px 3px 8px;
    min-width: 180px;
    text-align: center;
}

.searchPreview li {
    padding-bottom: 3px;
}

.searchPreview li:hover {
    background-color: #ffa726;
    border-radius: 5px;
    cursor: pointer;
}

/* Progress Bar */

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}

.progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear;
}

.progress .indeterminate {
    background-color: #26a69a;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

/* Additional Button Styles */
.btn.btn-prime,
.navbar .navbar-nav > li > a.btn.btn-prime {
    box-shadow: 0 2px 2px 0 rgba(57, 77, 171, 0.14), 0 3px 1px -2px rgba(57, 77, 171, 0.2), 0 1px 5px 0 rgba(57, 77, 171, 0.12);
}

.btn.btn-prime,
.btn.btn-prime:hover,
.btn.btn-prime:focus,
.btn.btn-prime:active,
.btn.btn-prime.active,
.btn.btn-prime:active:focus,
.btn.btn-prime:active:hover,
.btn.btn-prime.active:focus,
.btn.btn-prime.active:hover,
.open > .btn.btn-prime.dropdown-toggle,
.open > .btn.btn-prime.dropdown-toggle:focus,
.open > .btn.btn-prime.dropdown-toggle:hover,
.navbar .navbar-nav > li > a.btn.btn-prime,
.navbar .navbar-nav > li > a.btn.btn-prime:hover,
.navbar .navbar-nav > li > a.btn.btn-prime:focus,
.navbar .navbar-nav > li > a.btn.btn-prime:active,
.navbar .navbar-nav > li > a.btn.btn-prime.active,
.navbar .navbar-nav > li > a.btn.btn-prime:active:focus,
.navbar .navbar-nav > li > a.btn.btn-prime:active:hover,
.navbar .navbar-nav > li > a.btn.btn-prime.active:focus,
.navbar .navbar-nav > li > a.btn.btn-prime.active:hover,
.open > .navbar .navbar-nav > li > a.btn.btn-prime.dropdown-toggle,
.open > .navbar .navbar-nav > li > a.btn.btn-prime.dropdown-toggle:focus,
.open > .navbar .navbar-nav > li > a.btn.btn-prime.dropdown-toggle:hover {
    background-color: #3949AB;
    color: #FFFFFF;
}

.btn.btn-prime:focus,
.btn.btn-prime:active,
.btn.btn-prime:hover,
.navbar .navbar-nav > li > a.btn.btn-prime:focus,
.navbar .navbar-nav > li > a.btn.btn-prime:active,
.navbar .navbar-nav > li > a.btn.btn-prime:hover {
    box-shadow: 0 14px 26px -12px rgba(57, 77, 171, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(57, 77, 171, 0.2);
}

.btn.btn-prime.disabled,
.btn.btn-prime.disabled:hover,
.btn.btn-prime.disabled:focus,
.btn.btn-prime.disabled.focus,
.btn.btn-prime.disabled:active,
.btn.btn-prime.disabled.active,
.btn.btn-prime:disabled,
.btn.btn-prime:disabled:hover,
.btn.btn-prime:disabled:focus,
.btn.btn-prime:disabled.focus,
.btn.btn-prime:disabled:active,
.btn.btn-prime:disabled.active,
.btn.btn-prime[disabled],
.btn.btn-prime[disabled]:hover,
.btn.btn-prime[disabled]:focus,
.btn.btn-prime[disabled].focus,
.btn.btn-prime[disabled]:active,
.btn.btn-prime[disabled].active,
fieldset[disabled] .btn.btn-prime,
fieldset[disabled] .btn.btn-prime:hover,
fieldset[disabled] .btn.btn-prime:focus,
fieldset[disabled] .btn.btn-prime.focus,
fieldset[disabled] .btn.btn-prime:active,
fieldset[disabled] .btn.btn-prime.active,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled:active,
.navbar .navbar-nav > li > a.btn.btn-prime.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled:focus,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled:active,
.navbar .navbar-nav > li > a.btn.btn-prime:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-prime[disabled],
.navbar .navbar-nav > li > a.btn.btn-prime[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-prime[disabled]:focus,
.navbar .navbar-nav > li > a.btn.btn-prime[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-prime[disabled]:active,
.navbar .navbar-nav > li > a.btn.btn-prime[disabled].active,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime:hover,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime:focus,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime.focus,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime:active,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-prime.active {
    box-shadow: none;
}

.btn.btn-prime.btn-simple,
.navbar .navbar-nav > li > a.btn.btn-prime.btn-simple {
    background-color: transparent;
    color: #3949AB;
    box-shadow: none;
}

.btn.btn-prime.btn-simple:hover,
.btn.btn-prime.btn-simple:focus,
.btn.btn-prime.btn-simple:active,
.navbar .navbar-nav > li > a.btn.btn-prime.btn-simple:hover,
.navbar .navbar-nav > li > a.btn.btn-prime.btn-simple:focus,
.navbar .navbar-nav > li > a.btn.btn-prime.btn-simple:active {
    background-color: transparent;
    color: #3949AB;
}

/* Export Table Styles */
.fof {
    margin: 1em;
    overflow: auto;
    margin-left: 1%;
    width: 98%;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.exportsTable {
    width: 100%;
    min-width: 700px;
    display: table !important;
    position: unset !important;
}

.exportsTable thead {
    font-size: .8em;
}

.exportsTable tr {
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.exportsTable th {
    padding: 8px;
    width: 30px;
}

.exportsTable td {
    padding: 4px 10px;
    font-size: .9em;

}

.skuFilter > * {
    min-width: 90% !important;
    padding: 4px !important;
}

.skuFilterSelect {
    color: rgb(255, 152, 0) !important;
}

.ulFacility {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    width: 100%;
    display: inline-flex;
}

.ulFacility li {
    margin: auto;
    width: 30%;
    vertical-align: bottom;
}

.ulFacility .material-icons {
    vertical-align: bottom;
}
