body {
  margin: 0;
  padding-left: 180px;
  font-family: sans-serif;
}

/* Raised Buttons */
.raised-btn {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.raised-btn:hover,
.raised-btn:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.raised-btn:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.raised-btn:hover::before {
  opacity: 0.12;
}

.raised-btn:focus::before {
  opacity: 0.2;
}

.raised-btn:active::before {
  opacity: 0.32;
}

/* Facility Style colors */
:root {
  --primary-color: green;
  --secondary-color: white;
}

.header-logo {
  color: var(--secondary-color);
}